.form {
    display: flex;
    flex-direction: column;
    border: blueviolet solid 5px;
    width: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: darkgrey;
}

.totalForm {
    display: flex;
    width: auto;
    flex-direction: column;
}

#header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 5px darkslategrey;
}

.entryBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.entryLog {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.entryLog div {
    border: 1px blueviolet solid;
    width: 75%;
    margin-top: 5px;
}

.entryLog div h1 {
    color: steelblue;
    text-shadow: 2px 2px 2px black;
}

.entryLog div h1, h3, p {
    padding-left: 10px;
}