.form {
    display: flex;
    flex-direction: column;
    border: blueviolet solid 5px;
    width: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background: darkgrey;
}

.totalForm {
    display: flex;
    width: 50%;
    flex-direction: column;
}

#header {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.entryBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.entryLog {
    text-align: center;
}